/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta{
    background-color: rgba(205, 197, 9, 1);
    color: white;
}
a{
    text-decoration: none;
    
    padding: 15px 35px;
    border-radius: 5px;
    display: inline-block;
}
.view-all-button{
    background-color: rgba(205, 197, 9, 1);
    color: white;
    border-radius: 10px;
    font-size: 1.5em;
    display: none;
    margin: 40px 0; 
}

/* Hero start */
#hero{
    margin: 30px 0;
}
#hero .hero{
    max-width: 1200px;
    background-color: rgba(22, 22, 22, 1);
    border-radius: 15px;
    min-height: 90vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
#hero .hero .hero-info, .hero-banner{
    width: 40%;
    color: white;
}
#hero .hero .hero-info h1{
    font-size: 3em;
    font-weight: 900;
}
/* animation football */
#hero .hero .hero-info .footballs .animation{
    display: flex;
    justify-content: space-around;
    width: 177px;
}
#hero .hero .hero-info .footballs .animation > div{
    animation: bounce 1s linear infinite;
}
/* animation ends football */
#hero .hero .hero-banner img{
    width: 95%;
}
/* hero end */

/* main start */

#main{
    margin: 100px 0;
}
#main .main{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
#main .main .left{
    background-color: rgba(22, 22, 22, 1);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
}
#main .main .left a{
    background-color: white;
    display: inline-block;
    margin: 10px 0;
    color: black;
    text-align: center;
    font-weight: 700;
}
#main .main .left a:nth-child(3){
    background-color: rgba(205, 197, 9, 1);
    color: white;
}
#main .main .right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    margin-left: 15px;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
}
.card img{
    width: 100%;
}
.card-info{
    padding: 10px;
}
.transfer-cta{
    color: white;
    padding: 5px 10px;
    background-color: rgba(239, 35, 60, 1);
}
/* main end */
/* footer start */
#footer{
    background-color: rgba(22, 22, 22, 1);
    min-height: 50vh;
}
#footer .footer{
    max-width: 1200px;
    height: 100%;
    color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 4em;
}
#footer .footer hr{
    border: 1px solid rgba(39, 39, 39, 0.541);
    width: 100%;
}
#footer .footer a{
    color: rgba(185, 185, 185, 1);
    font-weight: 200;
}

/* footer end */

/* media queries */
/* tab view start*/

@media screen and (max-width: 992px){
    #hero .hero{
        min-height: 70vh;
        width: 95%;
    }
    .cta{
        padding: 10px 15px;
    }
    #hero .hero .hero-info .footballs .animation{
        width: 140px;
    }
    #main {
        margin: 20px 0;
    }
    #main .main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #main .main .left{
        display: flex;
        flex-direction: row;
        background-color: white;
        justify-content: space-between;
    }
    #main .main .left a{
        border: .5px solid grey;
        margin: 0 10px;
    }
    #main .main .right{
        grid-template-columns: repeat(2, 1fr);
        width: 95%;
        margin: 0 auto;
    }
    #main .main .view-all-button{
        display: inline-block;
    }
    #footer .footer{
        text-align: center;
        min-height: 30vh;
    }
}

/* tab view end */
/* mobile view start */

@media screen and (max-width:668px) {
    #hero .hero{
        display: flex;
        flex-direction: column;
    }
    #hero .hero .hero-info, .hero-banner{
        width: 80%;
        text-align: center;
    }
    #hero .hero .hero-info h1{
        font-size: 30px;
    }
    #hero .hero .hero-info .footballs .animation{
        padding-left: 80px;
    }
    #main .main .left{
        display: flex;
        flex-direction: column;
    }
    #main .main .left a{
        border: .5px solid grey;
        margin: 5px 0;
    }
    #main .main .right{
        grid-template-columns: repeat(1, 1fr);
        width: 95%;
        margin: 0 auto;
    }
    #main .main .view-all-button{
        display: none;
    }
    #footer .footer{
        text-align: center;
        min-height: 50vh;
    }
    #footer .footer .footer-links{
        display: flex;
        flex-direction: column;
    }
}

/* mobile view end */

/* animation */
@keyframes bounce {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}
#hero .hero .hero-info .footballs .animation div:nth-child(1){
    animation-delay: 0;
}
#hero .hero .hero-info .footballs .animation div:nth-child(2){
    animation-delay: .4s;
}
#hero .hero .hero-info .footballs .animation div:nth-child(3){
    animation-delay: .2s;
}
#hero .hero .hero-info .footballs .animation div:nth-child(4){
    animation-delay: .6s;
}
#hero .hero .hero-info .footballs .animation div:nth-child(5){
    animation-delay: .4s;
}
#hero .hero .hero-info .footballs .animation div:nth-child(6){
    animation-delay: .8s;
}
